*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  top:0;
  left:0;
font-family: consolas;
}
/* header section */
.title-bar{
  position: relative;
  top:0;
  left:0;
  display: flex;
  flex-direction: row;
}

.initial-text{
  position: relative;
  font-size: 6rem;
  margin:50% auto;
  padding-left:30px;
}
.open-bracket{
  margin-left: 120px;
}
.initial-text, .open-bracket{
  position: relative;
  display: inline-block;
  color:#C3E5AE;

}
.closing-bracket{
  position: relative;
  padding-right: 30px;
  margin-bottom: 30px;
}
.open-bracket, .closing-bracket{
  font-size: 200px;
  font-weight: bold;
    color:#C3E5AE;
    opacity:0.5;
}
.outer-container{
  position: relative;
  height: 250px;
  width: 250px;
  background-color: gray;
  margin: 20px auto;
}
.image-container{
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: purple;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items:center;
}
.outer-container, .image-container, .title-logo{
  border-radius: 50%;
}

.text{
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  animation: rotateText 10s linear infinite;
}
@keyframes rotateText{
  0%{
    transform: rotate(-360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.text span{
  position: absolute;
  left: 50%;
  top:10%;
  transform-origin: 0 100px;
}
/* Navbar */
#header-section, .navbar{
  background: linear-gradient(45deg,#FFD365 40%, #00C897, #019267);

}
.navbar-nav{
  margin-left: 14%;
}
.navbar form{
  margin-right:30px;
}
.magnify-icon{
  display: inline;

}
.one{
  position: relative;
  top:0;
  left:0:
  margin:0
}
.message-box{
 position: absolute;
  display: flex;
  flex-direction: row;
  width:600px;
  margin-left:30px;
  bottom: 0;
  padding:0;

}

.contact-info{
  position:relative;
  width:100%;
  color:blue;
  opacity: 0.5;
  display: inline;
 padding: 0 20px;
 margin-right: 20px;
}
@media (max-width: 1010px){
  .navbar-nav{
    flex-direction: row;
  }
  .navbar-link{
    display:inline-block;
  }
  .nav-item{
    margin-right: 20px;
  }


.contact-info{
  margin: 0;
  padding: 0;
}
  .outer-container{
    position:relative;
    height:200px;
    width:200px;
    margin:20px auto;
    padding-right:0;
    right:20px;
  }

  .image-container{
    height:150px;
    width:150px;
  }
  .title-logo{
    height: 100px;
    width: 100px;
    margin: 25px;
  }
  .text span{
    top:0;
  }
  .text{
    color:smok-white;
  }
  .initial-text{
    font-size:4rem;
    writing-mode: vertical-rl;
    padding-left:20px;

  }
  .closing-bracket, .open-bracket{
    font-size: 150px;
    top:5%;
-
  }
  .open-bracket{
  margin-left:2px;
  }
  .closing-bracket{
    margin:0 auto;
    left:3px;
  }
